.home__button {
  border-radius: 20px;
  border: 2px solid #785548;
  background-color: #785548;
  color: white;
  width: 9rem;
  padding: 0.5rem;
  margin: 0.5rem;
  &:hover {
    opacity: 0.7;
  }
}

.contact__submit {
  border-radius: 20px;
  border: 2px solid #785548;
  background-color: #785548;
  color: white;
  width: 9rem;
  padding: 0.5rem;
  margin: 0.5rem;
  &:hover {
    opacity: 0.7;
  }
}

.button__live {
  border-radius: 20px;
  border: 2px solid #785548;
  background-color: #785548;
  color: white;
  width: 9em;
  padding: 0.5rem;
  margin: 0.5rem;
  &:hover {
    opacity: 0.7;
  }
}
.button__gh {
  border-radius: 20px;
  border: 2px solid #785548;
  background-color: white;
  color: #785548;
  width: 6rem;
  padding: 0.5rem;
  margin: 0.5rem;
  &:hover {
    opacity: 0.7;
  }
}
