.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:10vh;
    background-color: white;
    padding:2rem;
    position:sticky;
    top:0px;

    .menu-navbar{
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;


    }

    .links{
        padding:3rem;
        display: flex;
        flex-direction: column;
        gap:3rem;
        list-style:none;

        
    }
}