.card-project{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom:2rem;
    &__content{
        padding:1rem;
    }
    &__image{
        height:40vh;
    
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        gap:1rem;
    }
}