@media only screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}
