.contact {
  background-color: #c4c4c4;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  .container {
    border: 2px solid black;
    box-shadow: 5px 5px 15px;
    padding: 1rem;
  }
  text-align: start;
  &__form {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  &__submit {
    margin-top: 1rem;
    width: 6rem;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  .contact {
    .container {
      width: 60%;
      max-width: 40vw;
    }
    width: fit-content;
    width: 100%;
    text-align: center;
    &__form {
      display: flex;
      flex-direction: column;
      text-align: start;
    }

    &__submit {
      margin-top: 1rem;
      width: 6rem;
      align-self: flex-end;
    }
  }
}
